$gray-bg: #d3d6d1ef;
$gray-bg-light: #e2e7dffd;
$black-bg: #141313;
$black-bg-light: #100c00;
$gray-light-bg: #049673;
$gray-dark-bg: #008867;
$main-color: #cce72e;

$txt-main-color: #352323;
$txt-gray: #3a9c7b;
$txt-orange: #d6c52b;
$txt-dark-orange: #52d117;
$txt-white: #fff;
$txt-dark-white: #e2d9d9;

$btn-main-bg: #d6c52b;
$btn-main-trans1: #d6c52bd2;
$btn-main-trans2: #d6c52b8e;
$btn-main-bg-dark: #52d117;
$btn-black: #352323;
$btn-black-light: #3d3a3afb;

$str-bg: #ff6e0ee7;

$border-main-color: rgb(230, 149, 134);

$box-shadow: rgba(185, 166, 107, 0.62) 1px 6px 8px;

$header-height: 100px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;

$mobile-width: 600px;
$tablet-width: 1024px;

$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;
$extra-large-screen: 1280px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
