.footer {
  background-color: $black-bg-light;
  &_title {
    text-align: center;
    margin-bottom: 28px;
    color: $txt-white;
  }
  padding-top: 70px;
  &_wrapper {
    border-top: 1px solid $btn-main-trans2;
    border-bottom: 1px solid $btn-main-trans2;
    @media only screen and (max-width: 850px) {
      display: grid;
      grid-template-columns: 1fr;
      border-bottom: none;
    }
    &_left {
      padding: 50px 0px;
      border-right: 1px solid $btn-main-trans2;
      .footer_logo {
        width: 180px;
        margin-bottom: 35px;
        img {
          width: 100%;
        }
      }
      &_link {
        @media only screen and (max-width: 540px) {
          flex-direction: column;
          ul {
            margin-bottom: 20px;
          }
        }
        @include flex(flex-start, flex-start);
        ul {
          margin-right: 80px;
          li {
            margin-bottom: 20px;
            cursor: pointer;
          }
        }
      }
    }
    &_right {
      @include flex-align(center);
      margin-left: 30px;
      @include large {
        margin-left: 50px;
      }
      @media only screen and (max-width: 850px) {
        margin-left: 0;
        margin-right: 20px;
      }
      &_map {
        display: inline-flex;
        img {
          flex-basis: 470px;
          height: 300px;
          border-radius: 8px;
          object-fit: cover;
          flex-grow: 1;
        }
      }
    }
  }
  .footer_bottom {
    position: relative;
    padding: 20px 0px;
    &_copy_right {
      text-align: center;
      @media only screen and (max-width: 560px) {
        text-align: left;
        margin-left: 30px;
      }
    }
    &_social_link {
      position: absolute;
      @media only screen and (max-width: 560px) {
        position: relative;
        margin-left: 40px;
        margin-top: 30px;
      }
      right: 15px;
      bottom: 15px;
      margin-right: auto;
      ul {
        @include flex-align(center);
        li {
          margin-right: 15px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background: $txt-white;
          border: 1px solid $btn-main-trans2;
          cursor: pointer;
          &:hover {
            background: $txt-dark-white;
          }
          .icon {
            margin-top: 6px;
            margin-left: 6px;
            font-size: 18px;
            color: $btn-main-bg;
          }
        }
      }
    }
  }
}
