.hero_slider {
  padding-top: 180px;
  position: relative;
  .shape1 {
    position: absolute;
    width: 80px;
    top: 40px;
    left: 30%;
    opacity: 0;
    visibility: hidden;
  }
  .shape2 {
    position: absolute;
    top: 355px;
    left: 40%;
    width: 60px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
  }
  .shape3 {
    position: absolute;
    bottom: -48px;
    left: 50%;
    width: 40px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
  }
  @include large {
    .shape1 {
      opacity: 1;
      visibility: visible;
    }
    .shape2 {
      opacity: 1;
      visibility: visible;
    }
    .shape3 {
      opacity: 1;
      visibility: visible;
    }
  }
  &_wrapper {
    @include medium {
      @include flex(felx-start, space-between);
    }

    &_left {
      margin-bottom: -100px;
      @include medium {
        width: 40%;
        margin-top: -70px;
        margin-bottom: 0;
      }
      width: 100%;
      margin-top: -130px;
      .law {
        padding: 5px 20px;
        background: $gray-bg;
        border-radius: 20px;
      }
      .title {
        margin-top: 30px;
        margin-bottom: 32px;
      }
      .desc {
        margin-bottom: 40px;
        @include medium {
          max-width: 440px;
        }
      }
      &_btn {
        @include flex-align(center);
        .btn {
          margin-right: 30px;
        }
      }
    }
    &_right {
      width: 100%;
      @include medium {
        width: 60%;
        margin-top: 0;
      }
      position: relative;
      .shape4 {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        height: 270px;
        top: -17px;
        right: 0px;
        @include medium {
          right: 515px;
        }
        img {
          height: 100%;
          object-fit: contain;
        }
        @include large {
          opacity: 1;
          visibility: visible;
        }
      }
      .review {
        min-width: 300px;
        @include medium {
          right: 320px;
        }
        @include large {
          right: 362px;
        }
        @media only screen and (min-width: 665px) {
          top: -80px;
        }
        position: absolute;
        top: -178px;
        @include flex-align(center);
        &_single {
          @include flex-align(center);
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid $txt-white;
            &:nth-child(1) {
              z-index: 1;
            }
            &:nth-child(2) {
              z-index: 2;
              margin-left: -12px;
            }
            &:nth-child(3) {
              z-index: 3;
              margin-left: -12px;
            }
          }
        }
        &_counts {
          margin-left: 20px;
          p {
            margin-bottom: 3px;
          }
          &_rating {
            @include flex-align(center);
            .star {
              color: $txt-orange;
            }
            span {
              margin-left: 4px;
            }
          }
        }
      }
      .ceo {
        position: relative;
        margin-top: 340px;
        @include medium {
          margin-top: 0;
        }
        &_bg {
          width: 420px;
          height: 420px;
          border-radius: 20px;
          background: $gray-light-bg;
          margin-left: auto;
          margin-right: 30px;
        }
        &_img {
          position: absolute;
          bottom: -5px;
          z-index: 900;
          max-width: 504px;
          right: -5px;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
